Repository rania-nasir/ATEMS, pull requests merged in 2024-03, with the labels that each got.

#203 Send mail about panel time slots
  server/config/mailer.js
  server/controller/gc/gc.controller.js
  server/controller/gc/gcReviewRequest.controller.js
Labels: bug, Controller, Backend, Middleware

#204 Required Changes till prop Eval
  server/controller/faculty/msrcReview.controller.js
  server/controller/faculty/supReviewRequest.controller.js
  server/controller/gc/gc.controller.js
  server/controller/gc/gcReviewRequest.controller.js
  server/controller/hod/hod.controller.js
  server/model/faculty.model.js
  server/model/student.model.js
  server/router/facultyRoutes.js
Labels: bug, Model, Routers, Controller, APIs, Backend, Middleware, Config

#205 Required APIs for assigning panel times
  server/controller/gc/gc.controller.js
  server/router/gcRoutes.js
Labels: Routers, Controller, APIs, Backend

#207 Proposal Evaluation Comments now store in Feedback Table
  server/controller/faculty/supReviewRequest.controller.js
  server/controller/student/student.controller.js
Labels: bug, Controller, APIs, Backend

#234 Tested,Corrected from Start to MidEvaluations
  server/.env
  server/controller/faculty/examiner.controller.js
  server/controller/faculty/supReviewRequest.controller.js
  server/controller/gc/gc.controller.js
  server/controller/gc/gcReviewRequest.controller.js
  server/controller/synopsis/synopsis.controller.js
  server/model/midEvaluation.model.js
  server/model/proposalEvaluaton.model.js
  server/router/facultyRoutes.js
  server/router/gcRoutes.js
Labels: bug, Model, Routers, Controller, APIs, Backend, Config

#237 tested and finalized thesis one finaleval
  server/controller/faculty/examiner.controller.js
Labels: Controller, APIs, Backend

#246 Thesis1 grade assign
  server/.env
  server/controller/gc/gcReviewRequest.controller.js
  server/model/finalEvaluation.model.js
Labels: Controller, Backend

#252 F grade validation and Thesis 2 registration
  server/controller/faculty/examiner.controller.js
  server/controller/gc/gcReviewRequest.controller.js
  server/controller/student/student.controller.js
  server/controller/synopsis/thesistwo.controller.js
  server/model/finalEvaluation.model.js
  server/model/thesistwo/registration.model.js
  server/router/stdRoutes.js
Labels: bug, Model, Routers, Controller, APIs, Backend

#253 Thesis 2 Request Review n Approval by Faculty
  server/.env
  server/controller/faculty/thesisTwo/supervisor.controller.js
  server/controller/gc/thesisTwo/gcThesisTwo.controller.js
  server/controller/hod/thesisTwo/hodThesisTwo.controller.js
  server/controller/synopsis/thesistwo.controller.js
  server/model/thesistwo/registration.model.js
  server/router/facultyRoutes.js
  server/router/gcRoutes.js
Labels: bug, Model, Routers, Controller, APIs, Backend

#254 Thesis 2 View Mid Evaluations
  server/controller/faculty/thesisTwo/supervisor.controller.js
  server/controller/gc/thesisTwo/gcThesisTwo.controller.js
  server/controller/student/thesisTwo/studThesisTwo.controller.js
  server/middleware/multerTwo.js
  server/model/thesistwo/registration.model.js
  server/model/thesistwo/thesisTwoMidEval.model.js
  server/router/facultyRoutes.js
  server/router/gcRoutes.js
  server/router/stdRoutes.js
Labels: Model, Routers, APIs, Backend, Middleware

#258 Thesis2 Mid Evaluation and GC Approval
  server/.env
  server/controller/faculty/thesisTwo/supervisor.controller.js
  server/controller/gc/thesisTwo/gcThesisTwo.controller.js
  server/model/thesistwo/registration.model.js
  server/model/thesistwo/thesisTwoMidEval.model.js
  server/router/gcRoutes.js
Labels: bug, Model, Routers, Controller, APIs, Backend, Middleware

#282 Error Messages for front end
  server/.env
  server/controller/faculty/examiner.controller.js
  server/controller/faculty/faculty.controller.js
  server/controller/faculty/msrcReview.controller.js
  server/controller/faculty/supReviewRequest.controller.js
  server/controller/faculty/thesisTwo/supervisor.controller.js
  server/controller/gc/gc.controller.js
  server/controller/gc/gcReviewRequest.controller.js
  server/controller/gc/thesisTwo/gcThesisTwo.controller.js
  server/controller/hod/hod.controller.js
  server/controller/hod/thesisTwo/hodThesisTwo.controller.js
  server/controller/student/student.controller.js
  server/controller/student/thesisTwo/studThesisTwo.controller.js
  server/controller/synopsis/thesistwo.controller.js
Labels: bug, Controller, Backend

#295 Testings/Toasts/Part3
  client/src/Components/BackButton.jsx
  client/src/Components/Faculty/FacultyviewAnnouncement.jsx
  client/src/Components/Faculty/GetSynopsisDetails.jsx
  client/src/Components/GC/AddFaculty.jsx
  client/src/Components/GC/AddStudent.jsx
  client/src/Components/GC/GetThesisDetails.jsx
  client/src/Components/GC/MakeAnnouncement.jsx
  client/src/Components/GC/UpdateFaculty.jsx
  client/src/Components/GC/UpdateStudent.jsx
  client/src/Components/GC/ViewFaculty.jsx
  client/src/Components/GC/ViewStudent.jsx
  client/src/Components/Sidebar/SidebarDefault.jsx
  client/src/Components/Student/FillSynopsis.jsx
  client/src/Components/Student/StudentviewAnnouncement.jsx
  client/src/Components/Thesis1/T1MainSection.jsx
  server/.env
Labels: enhancement, Frontend
